@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
    display: none !important; 
}
:root {
    --primary: rgb(88, 40, 244);
    --primary-hover: rgb(69, 29, 200);
    --font1: 'Lobster', sans-serif;
}
h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: var(--font1);
}
h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 0.75rem;
}
.font1 {
    font-family: var(--font1);
}
.button {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 1rem;
    min-height: 3.3rem;
    font-weight: 600;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    transition-property: transform;
    transition-duration: .2s;
    color: white;
    background-color: var(--primary);
}
.button:hover {
    background-color: var(--primary-hover);
}
.button:active {
    transform: scale(0.95);
}
.navitems>li>a {
    @apply flex items-center gap-2 h-12 px-4 hover:bg-gray-700 rounded-lg;
}
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    background-color: white;
    padding-bottom: 1rem;
}
.hoverlist>* {
    @apply hover:bg-gray-100 rounded-md transition duration-150;
}
.hoverlist>*>a {
    @apply flex items-center p-2;
}
.highlight {
    @apply !bg-indigo-100;
}
.titleBlip {
    animation: 1s fadeIn;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: 1; }
}